.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    /* width: 50%; */
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.tags li {
    color: white;
    background: rgb(148, 146, 146);
    border: 1px solid rgb(103, 102, 102);
    border-radius: .2em;
    list-style: none;
    text-align: center;
}
