p, 
ul {
    border: 2px solid rebeccapurple;
    padding: .5em;
}

.block,
li {
    border: 2px solid blue;
    padding: .5em;
}

ul.block-example {
    display: flex;
    list-style: none;
}

ul.inline-example {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

#inline-block-example {
    margin: 20px;
    padding: 20px;
    width: 80px;
    height: 50px;
    background-color: lightblue;
    border: 2px solid blue;
    display: inline-block;
}

.navbar-list {
    display: flex;
    list-style: none;
    box-sizing: border-box;
}

.navbar-list a {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid black;
}

.navbar-list a:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
    box-sizing: border-box;
    display: inline-block;
  }