/* This declaration determines the order of the layers. */
@layer firstLayer;

h3.order_example {
    color: blue;
}

h3.order_example {
    color: red;
}

h3.specificity_example {
    color: yellow;
}

h3 {
    color:purple;
}

#inheritance_div {
    color: red;
}

#p_color {
    color: yellow;
}

.link_list {
    color: green;
}

.link1 a {
    color: inherit;
}

.link2 a {
    color: initial;
}

.link3 a {
    color: unset;
}

.link4 a {
    color: revert;
}

#layer-example {
    color: red;
    border: 5px solid black;
}

@layer firstLayer {
    #layer-example {
        /* Important styles in previous layers
        take precedence. */
        color: magenta !important;
        /* Non-important styles in later layers
        take precedence. */
        border: 5px dashed blue;
    }
}