<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox Example</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <header>
        <h1>Sample flexbox example</h1>
    </header>

    <!-- Section that demonstrates basic flexbox behaviour -->
    <section class="first-section">
        <article>
            <h2>First Article</h2>

            <p>
                Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack
                portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui
                pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B
                tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub
                hammock.
            </p>
        </article>

        <article>
            <h2>Second Article</h2>

            <p>
                Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack
                portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui
                pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B
                tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub
                hammock.
            </p>
        </article>

        <article>
            <h2>Third Article</h2>

            <p>
                Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack
                portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui
                pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B
                tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub
                hammock.
            </p>

            <p>
                Cray food truck brunch, XOXO +1 keffiyeh pickled chambray waistcoat ennui. Organic
                small batch paleo 8-bit. Intelligentsia umami wayfarers pickled, asymmetrical kombucha
                letterpress kitsch leggings cold-pressed squid chartreuse put a bird on it. Listicle
                pickled man bun cornhole heirloom art party.
            </p>
        </article>
    </section>

    <!-- Section that demonstrates the behaviour when there are too many columns. -->
    <section class="second-section">
        <article>
          <h2>First article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
        </article>
  
        <article>
          <h2>Second article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
        </article>
  
        <article>
          <h2>Third article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
  
          <p>Cray food truck brunch, XOXO +1 keffiyeh pickled chambray waistcoat ennui. Organic small batch paleo 8-bit. Intelligentsia umami wayfarers pickled, asymmetrical kombucha letterpress kitsch leggings cold-pressed squid chartreuse put a bird on it. Listicle pickled man bun cornhole heirloom art party.</p>
        </article>
  
        <article>
          <h2>Fourth article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
        </article>
  
        <article>
          <h2>Fifth article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
        </article>
  
        <article>
          <h2>Sixth article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
  
          <p>Cray food truck brunch, XOXO +1 keffiyeh pickled chambray waistcoat ennui. Organic small batch paleo 8-bit. Intelligentsia umami wayfarers pickled, asymmetrical kombucha letterpress kitsch leggings cold-pressed squid chartreuse put a bird on it. Listicle pickled man bun cornhole heirloom art party.</p>
        </article>
  
        <article>
          <h2>Seventh article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
        </article>
  
        <article>
          <h2>Eighth article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
        </article>
  
        <article>
          <h2>Ninth article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
  
          <p>Cray food truck brunch, XOXO +1 keffiyeh pickled chambray waistcoat ennui. Organic small batch paleo 8-bit. Intelligentsia umami wayfarers pickled, asymmetrical kombucha letterpress kitsch leggings cold-pressed squid chartreuse put a bird on it. Listicle pickled man bun cornhole heirloom art party.</p>
        </article>
  
        <article>
          <h2>Tenth article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
        </article>
  
        <article>
          <h2>Eleventh article</h2>
  
          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
        </article>
  
      </section>

      <div class="button-div">
        <button class="basic-button">Smile</button>
        <button class="basic-button">Laugh</button>
        <button class="basic-button">Wink</button>
        <button class="basic-button">Shrug</button>
        <button class="basic-button">Blush</button>
      </div>

      <h1>Complex Flexbox Example</h1>
      <section class="complex-section">
        <article class="complex-article">
          <h2>First article</h2>

          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
        </article>

        <article class="complex-article">
          <h2>Second article</h2>

          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
        </article>

        <article class="complex-article">
          <div>
            <button class="complex-button">Smile</button>
            <button class="complex-button">Laugh</button>
            <button class="complex-button">Wink</button>
            <button class="complex-button">Shrug</button>
            <button class="complex-button">Blush</button>
          </div>

          <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
          <p>Cray food truck brunch, XOXO +1 keffiyeh pickled chambray waistcoat ennui. Organic small batch paleo 8-bit. Intelligentsia umami wayfarers pickled, asymmetrical kombucha letterpress kitsch leggings cold-pressed squid chartreuse put a bird on it. Listicle pickled man bun cornhole heirloom art party.</p>
        </article>

      </section>
</body>
</html>